@model List<ShoppingCartCA.Models.ProductModel>

@foreach (var product in Model)
{
    <div class="col-md-4" style="text-align:center;">
        <img src="@product.ImagePath" width="50%;" height="50%;"  />
        <h2>@product.ProductName</h2>
        <p style="text-align:left;">
            @product.Description
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865"> $@decimal.Round(product.Price,2).ToString() - Add To Cart &raquo;</a></p>
    </div>
    
}
