@model List<ShoppingCartCA.Models.ProductModel>

@foreach (var product in Model)
{
    <div class="col-md-4" style="text-align:center;">
        <img src="@product.imagePath" width="50%;" height="50%;"  />
        <h2>@product.productName</h2>
        <p style="text-align:left;">
            @product.description
        </p>
        <p>
            <a class="btn btn-success" style="text-decoration:none;" onclick="AddToCart(@product.productID)">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                $@decimal.Round(product.price, 2).ToString() - Add To Cart &raquo;
            </a>
            
        </p>
    </div>
    
}
