@model List<ShoppingCartCA.Models.ProductModel>
@{
    ViewBag.Title = "Gallery";
}
<h3>Hello, @Session["DisplayName"]</h3>
<div class="row" style="padding-top:20px;">
    <div class="col-md-12" >
        @Html.TextBox("searchKeyword", "", new { @id = "searchBox", @class = "form-control",@onkeypress= "search(event);" , @style="max-width:100%;", @placeholder="Search..."})
    </div>
    
</div>
<div id="partial" style="padding-top:50px;">
    @Html.Partial("_GalleryPartial")
</div>

<script type="text/javascript">

    function search(e) {
        debugger;
        if (e.keyCode == 13 || e.which == 13) {
            var key = document.getElementById("searchBox").value;

            var url = "../Home/SearchProduct?keyword=" + key;
            $.ajax({
                url: url,
                type: "POST",
                async: true,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $("#partial").html(result);
                }
            });
        }
    }
    function AddToCart(id) {

        var url = "../Home/AddToCart?id=" + id;
        $.ajax({
            url: url,
            type: "POST",
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //alert("Success !!! " + data);
                
                loadCart();
                //$("#cartDiv").load(' #oderBox');
            }

        });
    }
</script>



