@model List<ShoppingCartCA.Models.ProductModel>
@{
    ViewBag.Title = "Gallery";
}
<div class="row" style="padding-top:20px;">
    <div class="col-md-12" >
        @Html.TextBox("searchKeyword", "", new { @id = "searchBox", @class = "form-control",@onkeypress= "search(event);" })
    </div>
    
</div>
<div id="partial">
    @Html.Partial("_GalleryPartial")
</div>

<script type="text/javascript">

    function search(e) {
        debugger;
        if (e.keyCode == 13 || e.which == 13) {
            var key = document.getElementById("searchBox").value;

            var url = "../Home/SearchProduct?keyword=" + key;
            $.ajax({
                url: url,
                type: "POST",
                async: true,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $("#partial").html(result);
                }
            });
        }
    }
</script>



